{% extends "bootstrap/base.html" %}
{% block title %} Home Page {% endblock %}
{% block styles %}
{{ super() }}
<style>
    a {
        color: white;
        
    }
    
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <h1>Welcome</h1>
        <h2>Are you ready to discover my secret?</h2>
        <button type="submit" class="btn btn-primary btn-lg"><a href="{{ url_for('get_login_page') }}" class="text-white">Login</a></button>
    </div>
{% endblock %}
